<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulaire</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header class="header">
    <div class="container">
      Formulaire avec Formidable
    </div>
  </header>
  <section class="container">
    <form action="/submit" method="POST" class="form" enctype="multipart/form-data">

      <div class="input-field">
        <label for="name">Nom:</label>
        <input type="text" name="name" id="name" required>
      </div>

      <div class="input-field">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
      </div>
  
      <div class="input-field">
        <label for="file">Fichier:</label>
        <input type="file" name="file" id="file">
      </div>
      <button type="submit">Envoyer</button>

    </form>
  </section>
</body>
</html>
